body {
    background-image: url("http://static.tumblr.com/7733424a76179f396b4c2667719a13b4/rvtezz3/3mzmwfbe2/tumblr_static_maintumblr.jpg");
}

.splash {
    text-align: center;
    margin-top: 30vh;
}
.enter-button {
    margin-top: 10vh;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.enter-button:hover {
    color: red;
    cursor: pointer;
}

.centerImage{
    text-align: left;
}
