body.one {
    background:url('http://static.tumblr.com/7733424a76179f396b4c2667719a13b4/rvtezz3/3mzmwfbe2/tumblr_static_maintumblr.jpg');
    
}
body.hello {
    background:url('http://cdn1.theodysseyonline.com/files/2016/01/15/635884160300123905380021068_help-dog-picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.splash {
    text-align: center;
    margin-top: 15vh;
}
.enter-button {
    margin-top: 10vh;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.enter-button:hover {
    color: black;
    cursor: pointer;
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

m {
    /*font-family: "Courier New", Courier, monospace;*/
    font-family: 'Alegreya';
    font-size: 85px;
    font-weight: normal;
}

header {
    display: inline;
}


